In [30]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv("2015-Premier-League_Results.csv")
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%y')
df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,2015-08-08,Bournemouth,Aston Villa,0,1,A,0,0,D,...,1.79,26,-0.5,1.98,1.93,1.99,1.92,1.82,3.88,4.70
1,E0,2015-08-08,Chelsea,Swansea,2,2,D,2,1,H,...,1.99,27,-1.5,2.24,2.16,1.80,1.73,1.37,5.04,10.88
2,E0,2015-08-08,Everton,Watford,2,2,D,0,1,A,...,1.96,26,-1.0,2.28,2.18,1.76,1.71,1.75,3.76,5.44
3,E0,2015-08-08,Leicester,Sunderland,4,2,H,3,0,H,...,1.67,26,-0.5,2.00,1.95,1.96,1.90,1.79,3.74,5.10
4,E0,2015-08-08,Man United,Tottenham,1,0,H,1,0,H,...,2.01,26,-1.0,2.20,2.09,1.82,1.78,1.64,4.07,6.04

In [51]:
team_standings = pd.DataFrame(list(set(df["HomeTeam"])), columns=["Team"])
for i in range(1, 38):
    team_standings[i] = 0

In [52]:
df.sort_values(by="Date", inplace=True)

In [56]:
for t in df.iterrows():
    t["HomeTeam"]

TypeError: tuple indices must be integers or slices, not str